## Address of a variable in Python 
- id(variable_name) function is used to find the address of a variable in python
- In python if variables have values in the range [-5,256] then they will be assign same address or they point to same value.

In [6]:
a= 111
b= 111
print(id(a),id(b), id(a)==id(b))
a="Rajan"
b= "Rajan"
print(id(a),id(b), id(a)==id(b))
a=11.22
b=11.22
print(id(a),id(b), id(a) == id(b)) # rule doesn't apply to float variables
a=True
b=True
print(id(a),id(b), id(a) == id(b))
a = 11111
b = 11111
print(id(a),id(b), id(a) == id(b))

4304181040 4304181040 True
4354839664 4354839664 True
4355172624 4355174320 False
4312838296 4312838296 True
4355172432 4355172368 False

## Strings in Python
- Strings are immutable in Python like we can't change the value of any index of a string

In [7]:
name="Hello"
print(name)
name = 'Hello'
print(name)

Hello
Hello

In [8]:
name = '''
    My name is Rajan
    Hello 
'''
print(name)

    My name is Rajan
    Hello

In [9]:
name= """
    My name is Rajan
    Walia

"""

print(name)

    My name is Rajan
    Walia

In [18]:
# To get the ascii value of a character
print(ord('a'))

# To get the ASCII Character corressponding of a value
print(chr(97))

97
a

## Some methods in Python
- format, strip, input, split, replace,

In [27]:
# Different ways to print values in Python

a = "Rajan"
b = 20.22
c = 30
print(str(a)+" - "+str(b)+" - "+str(c))
print("%s - %d - %d"%(a,b,c))
print("{} - {} - {}".format(a,b,c))
print("{1} - {0} - {2}".format(a,b,c)) # specify index in {idx} 
print("{name} - {laptop} - {mobile}".format(name="Rajan",mobile="vivo",laptop="Mac"))
print(f"a = {a} , b = {b} , c = {c}")

Rajan - 20.22 - 30
Rajan - 20 - 30
Rajan - 20.22 - 30
20.22 - Rajan - 30
Rajan - Mac - vivo
a = Rajan , b = 20.22 , c = 30

In [28]:
name = "        I am Rajan          " 
print(name.strip()) # trim spaces from start and end 

print(len(name))

I am Rajan
28

In [29]:
a = input() # takes the input from the user
print(a)

a = input()
print(a.split(" ")) # return a list after splitting the string by the given string

Rajan Walia
Rajan Walia
hi Rajan, I live in India
['hi', 'Rajan,', 'I', 'live', 'in', 'India']

In [33]:
a = "Rajan"
a.replace("a","p") # replace every occurence

'Rpjpn'

In [38]:
a = "aaabbbbbcccaaaa"
print(a.count("a"))
print(a.count("aa"))

7
3

## Lists in Python

- Lists in Python are mutable i.e. value can be changed using its index
- Lists are heterogenous
- Lists are ordered
- Lists can be accessed using index

In [40]:
a = [1,2,3]
print(a)
print(a[0])
a[0] = "Rajan" # mutable e.g.
print(a)
print(len(a))

[1, 2, 3]
1
['Rajan', 2, 3]
3

In [42]:
a = [1,2.3,True,1+34j, "Rajan", print]
print(a)
print(a[5]("RAJAN WALIA")) # calling print function

[1, 2.3, True, (1+34j), 'Rajan', <built-in function print>]
RAJAN WALIA
None

In [43]:
a = [1,2,3]
b = [4,5]
a+b  # concatenation

[1, 2, 3, 4, 5]

In [48]:
a = [1,2,3]
a*4 # returns a list, Repition
print(a)

[1, 2, 3]

In [49]:
a = [1,2,3,4]
print(1 in a) # membership
print(11 in a)

True
False

In [124]:
a = [1,2,3,4] 
for x in a:    # iteration
    print(x)

1
2
3
4

### Updating the list 
- insert(idx,value)
- append(value)
- clear() - removes all the elements from the list
- copy() - returns the shallow copy of the list

In [50]:
a = [1,2,3,4]
a.insert(1,"RAJAN");
print(a)

a.append("Walia");
print(a)

[1, 'RAJAN', 2, 3, 4]
[1, 'RAJAN', 2, 3, 4, 'Walia']

In [216]:
a = [1,2,3]
a.clear()
a

[]

In [51]:
a = [1,2,3,4]
b = a
print(id(a),id(b)) # pointing to same list or have same reference
a[1] = "RAJAN"
print(a)
print(b)

4368251008 4368251008
[1, 'RAJAN', 3, 4]
[1, 'RAJAN', 3, 4]

In [52]:
a = [1,2,3,4]
b = a.copy() # return the new list with same items as list a
print(a, id(a))
print(b,id(b))
a[1]= "RAJAN"
print(a, id(a))
print(b,id(b))

[1, 2, 3, 4] 4368182592
[1, 2, 3, 4] 4368238976
[1, 'RAJAN', 3, 4] 4368182592
[1, 2, 3, 4] 4368238976

### Delete the elements from the list
- del a[idx] - remove the a[idx] element
- remove(value) - remove the first occurence of the value
- pop(idx) - remove the a[idx]

In [58]:
a = [1,2,3,4,5]
a.pop() # remove and return the last element
print(a)
a = [1002320,2,3,4,5]
print(id(a[0]),id(a[0])+1, id(a[0])+2)
a.pop(0) # remove the 0th element
print(a)

[1, 2, 3, 4]
4368155856 4368155857 4368155858
[2, 3, 4, 5]

In [139]:
a = [1,2,"Rajan",4,5,"Rajan"]
a.remove("Rajan")
print(a)

[1, 2, 4, 5, 'Rajan']

In [144]:
a = [1,2,3,4,5]
del a[3]
print(a)
del a
print(a) # Raises IndexError if list is empty or index is out of range.

[1, 2, 3, 5]

NameError: name 'a' is not defined

### Sorting and reversing
- sorted - takes the list as an arguement and returns the new list after sorting.
- sort - actually sort the original list.
- reversed - returns an reverseiterator 
- reverse

In [150]:
a = [1,2, 1,3, 1,5, 2, 9, 4]
print("Sorted list : ",sorted(a))
print("actual list won't change ", a)

Sorted list :  [1, 1, 1, 2, 2, 3, 4, 5, 9]
actual list won't change  [1, 2, 1, 3, 1, 5, 2, 9, 4]

In [152]:
a = [1,2,3,4,4,32,2,1,12,3,5]
a.sort()
print(a)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 12, 32]

In [154]:
a = [1,2,3,4,5]
for x in reversed(a):
    print(x)

5
4
3
2
1

In [226]:
a = [1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [230]:
a = [1,2,3,4,5]
a.sort(reverse=False)
a

[1, 2, 3, 4, 5]

In [244]:
a = [("RAJAN",1),("AMAN",5),("MUKUL",1), ("RAM",9), ("NITIN",2)]
a.sort()
print(a) # by default it sorts the lists by first tuple value
a = [("RAJAN",1),("AMAN",5),("MUKUL",1), ("RAM",9), ("NITIN",2)]
a.sort(key = lambda x : x[1]) # sort the value in by second tuple value
print(a)

[('AMAN', 5), ('MUKUL', 1), ('NITIN', 2), ('RAJAN', 1), ('RAM', 9)]
[('RAJAN', 1), ('MUKUL', 1), ('NITIN', 2), ('AMAN', 5), ('RAM', 9)]

#### Slicing the list

In [170]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[1:]) # print all the elements starting from 1 index
print(a[2:5]) # print all the element between [2,5) idxes
print(a[-2:]) # print all the elements from 2nd last idx
print(a[1::3]) # print each element with the jump of 3
print(a[::-1]) # reverse a list

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5]
[9, 10]
[2, 5, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### convert *** to list
- list() function takes an iterable as an argument and converts it into list

In [190]:
a = "RAJAN"
list(a)

['R', 'A', 'J', 'A', 'N']

In [191]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [198]:
a = (1,2,3,4)
b = list(a)
b

[1, 2, 3, 4]

## Tuples in Python
- Tuples are used to hold together multiple objects. These are similar to lists but without the extensive functionality that lists gives us. 
- One Major feature of lists is that they are immutable like strings i.e. You can't modify tuples.
- Tuples are defined by specifying items seperated by commas within an optional pair of paranthesis.
- Tuples are usually used in cases where a statement or a used defined function can safely assume that the collection of values i.e. the tuple of values **will not change**

In [172]:
a = (1,2,3,4)
a[0] = 4 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [175]:
def func(*args):
    print(args) # these args are actually tuple
    
func(1,2,3,4)

(1, 2, 3, 4)

In [179]:
a = 1,2,3 # by default it will create a tuple
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [181]:
a = 1,2,3
b,c,d = a # unpacking or destructuring the tuple
print(a,b,c,d)

(1, 2, 3) 1 2 3

In [189]:
# swaping of 2 variables in python
a = 20
b = 10
print(a,b)
b,a = a,b # by default right part will be treated as tuple and then it will unpacked and assingned into b,a
print(a,b)

20 10
10 20

### converting a list into a tuple

In [201]:
a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [203]:
a = "RAJAN"
b = tuple(a)
b

('R', 'A', 'J', 'A', 'N')

In [208]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Returning multiple values from the functions ( returned thing is ***tuple***)

In [214]:
def addSubtract(a,b):
    return a+b,a-b # returning the tuple i.e. (a+b,a-b)

sums,diff = addSubtract(110,20) # unpacking the tuple
print(sums,diff)

130 90

## Dictionaries in Python
- It is based upon key value pairs like objects in JS.
- These are unordered
- Keys in the dictionary can be any ***immutable data structure***

In [3]:
student = {
    "name" : "RAJAN",
    "rollNo" : 11,
    "subjects" : ["Math", "C++","JAVA"],
    "address" : {
        "city" : "YNR",
        "state" : "Haryana"
    }
}
print(student["name"])
print(student["subjects"])
print(student["address"]["state"])

RAJAN
['Math', 'C++', 'JAVA']
Haryana

In [5]:
# Iterating over dictionaries gives us keys

for key in student:
    print(key)

name
rollNo
subjects
address

## Some methods of dictionaries
- get(key) - It is used to get the value of the key in a dictionary. If key doesn't exit it returns NoneType value
- items() - returns a tuple of key and value for each key
- keys() - returns all keys in dictionaries 
- values() - returns all the value in the dictionaries
- clear() - it clears the whole dictionary

In [22]:
type(student.get("name1"))

# student["name1"]

NoneType

In [12]:
for x in student.items():
    print(x)
    
# unpack the tuple to get the key and value

for key, value in student.items():
    print(key,"->",value)

('name', 'RAJAN')
('rollNo', 11)
('subjects', ['Math', 'C++', 'JAVA'])
('address', {'city': 'YNR', 'state': 'Haryana'})
name -> RAJAN
rollNo -> 11
subjects -> ['Math', 'C++', 'JAVA']
address -> {'city': 'YNR', 'state': 'Haryana'}

In [15]:
for key  in student.keys():
    print(key)

name
rollNo
subjects
address

In [16]:
for value in student.values():
    print(value)

RAJAN
11
['Math', 'C++', 'JAVA']
{'city': 'YNR', 'state': 'Haryana'}

In [23]:
student.clear()

In [24]:
student

{}

- Keys in the dictionary can be any ***immutable data structure***

In [26]:
dic= {
    (1,2) : "RAJAN"
}
dic

{(1, 2): 'RAJAN'}

In [28]:
# not allowed as lists are mutable
dic = {
    [1,2] : "RAJAN" 
}

TypeError: unhashable type: 'list'

## Sets in Python
- Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.
- Using sets we can find intersection, union and so on...
- Sets are not indexable but we can iterate on that
- All the values in set are unique

In [33]:
a = set()
print(type(a))
a = {1,2,3,4}
print(type(a))

<class 'set'>
<class 'set'>

In [37]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.intersection(b))
print(a.union(b))
print(a-b)
print(b-a)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
{5, 6}

In [40]:
a = {1,"RAJAN", 34.33}
for x in a:
    print(x)

1
34.33
RAJAN

In [43]:
s = {1,2,3,4,1,2,"RAJAN", "RAJAN"}
print(s) # all the values are unique
print(len(s))

{1, 2, 3, 4, 'RAJAN'}
5

In [51]:
# remove all the duplicates from list
l = [1,2,3,4,4,2,2,1,1,3,2,3,3]
list(set(l))

[1, 2, 3, 4]

## Comprehension
- shortcut for doing the operation

In [53]:
a = []
for x in range(10):
    a.append(x**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list comprehension

In [54]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
[i**2 for i in range(10) if (i%2==0)]

[0, 4, 16, 36, 64]

### dict comprehension

In [58]:
{ key : key**2 for key in range(10) if key%2==0 }

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### set comprehension

In [59]:
{i**2 for i in range(10) if(i%2==0)}

{0, 4, 16, 36, 64}

### Not tuple comprehension
- The following is not tuple comprehension, it is generator

In [60]:
(i**2 for i in range(10) if(i%2==0))